@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

$body-font-family: 'Open Sans';
$font-size-root: 14px !default;

// Custom variables
$lines-color: #eeeeee;
$lines-opacity: 0.05;

*,
.text-h1,
.text-h2,
.text-h3,
.text-h4,
.text-h5,
.text-h6,
.text-caption {
  font-family: $body-font-family, serif !important;
}

body,
.v-list-item--variant-plain,
.v-list-item--variant-outlined,
.v-list-item--variant-text,
.v-list-item--variant-tonal,
.bg-background,
.v-app-bar,
.v-card-text {
  color: #323232 !important;
}

.v-toolbar-title {
  font-size: 15px !important;
  font-weight: 600 !important;
}

.userDetails {
  &__title {
    font-size: 15px !important;
    font-weight: 500 !important;
  }
  &__organisation {
    font-size: 13px !important;
    opacity: 1 !important;
    color: gray !important;
    letter-spacing: 0 !important;
    font-weight: 500 !important;
  }
}

.v-btn__content {
  text-transform: none !important;
  letter-spacing: 0 !important;
  font-weight: 600 !important;
}

.v-card-text {
  letter-spacing: 0 !important;
}

.v-divider {
  opacity: $lines-opacity !important;
}

.v-card-title {
  font-size: 14px !important;
  font-weight: 600 !important;
  color: #323232 !important;
  margin-bottom: 10px !important;
  letter-spacing: 0 !important;
}

input, textarea {
  font-size: 14px !important;
  font-weight: 500 !important;
}

.text-caption,
.v-list-subheader__text {
  letter-spacing: 0 !important;
  font-weight: 500 !important;
}

.v-alert__content {
  font-size: 14px !important;
  font-weight: 500 !important;
}

.v-selection-control--inline .v-label {
  font-size: 12px !important;
}

.v-navigation-drawer, .v-card {
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset !important;
}

.view-title {
  font-size: 20px !important;
  letter-spacing: 0 !important;
}